@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Sistema de Gestión de Productos</a>.</p>
</div>

<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://img.freepik.com/foto-gratis/surtido-productos-belleza-exhibidos-estante_23-2150718003.jpg?t=st=1730127563~exp=1730131163~hmac=5c5a8dc61bb5b9f3d9f20e3fd20360af9975d43039e7626d2c308d1fe79d001d&w=900" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://img.freepik.com/foto-gratis/herramientas-deportivas_53876-138077.jpg?t=st=1730127647~exp=1730131247~hmac=2fbb47f6ec676bfd3149a856bd1925b7c7ed83f2175f2ebaa5025e0b45249c90&w=900" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://img.freepik.com/foto-gratis/vista-configuracion-teclado-juegos-neon-iluminado-gafas-3d_23-2149529351.jpg?t=st=1730127699~exp=1730131299~hmac=da00e4ef07f2ce50deffad3dede6dd1e81632e872be26a515c59abb128cb7def&w=900" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
